/* .error{
    background-color: rgb(201, 168, 233);
    float: left;
    height: 100px;
    text-align: center;
}

.msg{
    width: 85%;
    height:100px;
}

.pic{
    width:15%;
    padding:10px;
    height:100px;
} */