*{
    box-sizing: border-box;
}

body{
    background-color: rgb(95, 80, 109);
    
}
.search-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search>li{
    display: inline;
    list-style-type: none;
    padding:20px
}

#previous, .next{
    background-color: rgb(240, 232, 121);
    border: none;
    border-radius: 3px;
    font-style:oblique;
    font-weight: bolder;
    padding:5px;
}

.applicant-section{
    background-color:azure;
    width:90%;
    border: none;
    margin:auto;
    border-color:black;
    border-style: solid;
    border-width: 2px;
    padding: 2px;
    height:1200px;
}

/* .applicant-title{
    background-color: rgb(201, 168, 233);
    width:100%;
    height:100px;
    text-align: center;
} */

.applicant{
    background-color: rgb(201, 168, 233);
    float: left;
    height: 100px;
    text-align: center;
}

.title{
    width: 85%;
    height:100px;
}

.pic{
    width:15%;
    padding:10px;
    height:100px;
}

.applicant-img{
    height: 75px;
    width: 75px;
}

.resume{
    background-color:azure;
    float: left;
    height: 1200px;
}

.personal{
    width: 25%;
    height:500px;
    border:solid;
    border-width: 2px;
    transform:translatey(6px);
    padding:10px;
    background-color: rgb(193, 221, 223);
}

.work{
    width:75%;
    padding:10px;
    height:500px;
    transform:translatey(6px);
}

.personal>p{
    color: whitesmoke;
    font-weight: bolder;
    background-color: gray;
}

personal-info>p{
    color:black;
    font-weight: bolder;
    text-align: right;
    font-size: 10px;
}